@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald|Roboto&display=swap');


.tabela_capa_trailer {
  vertical-align: middle;
  padding: 14px 16px;
  margin-left: 20px;
}


  .leftbox {
    height:95vh;
    width: 99vh;
    display: inline-block;
   color: #f1f1f1;
    position: absolute;
    top:0;
   }

   .topnav {
    overflow: hidden;
    position: absolute; 
    display: inline-block;
    top:0;
    left:0;
    right:0;
   }
   .topnav a {
    float: left; 
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
   }
   .topnav a:hover {
    color: white;
   }