USE [Project_EKP01_TrailerFlix]
GO
/****** Object:  Table [dbo].[Capas_Filmes]    Script Date: 10/02/2022 11:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capas_Filmes] AS FILETABLE ON [PRIMARY] FILESTREAM_ON [FileStreamFG]
WITH
(
FILETABLE_DIRECTORY = N'Capas_Filmes', FILETABLE_COLLATE_FILENAME = Latin1_General_CI_AS
)
GO
