USE [Project_EKP01_TrailerFlix]
GO
/****** Object:  Table [dbo].[Filmes]    Script Date: 10/02/2022 11:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmes](
	[Id_Filme] [int] IDENTITY(1,1) NOT NULL,
	[Title_Name] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](500) NOT NULL,
	[Released_Date] [date] NOT NULL,
	[Rating] [numeric](10, 0) NULL,
	[Time] [nchar](10) NULL,
	[Summary] [nvarchar](1200) NULL,
	[Link_Trailer] [nvarchar](500) NULL,
	[Cover] [nvarchar](100) NULL,
 CONSTRAINT [PK_Filmes] PRIMARY KEY CLUSTERED 
(
	[Id_Filme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Filmes] ON 

INSERT [dbo].[Filmes] ([Id_Filme], [Title_Name], [Language], [Released_Date], [Rating], [Time], [Summary], [Link_Trailer], [Cover]) VALUES (7, N'Shang-Chi and the Legend of the Ten Rings', N'English , Mandarim', CAST(N'2021-09-02' AS Date), CAST(7 AS Numeric(10, 0)), N'2h12m     ', N'Shang-Chi, the master of weaponry-based Kung Fu, is forced to confront his past after being drawn into the Ten Rings organization.', N'https://www.youtube.com/embed/8YjFbMbfXaQ', N'Shang Chi and the Legend of the Ten Rings_cover.jpeg')
SET IDENTITY_INSERT [dbo].[Filmes] OFF
GO
