USE [Project_EKP01_TrailerFlix]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 10/02/2022 11:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[Id_Serie] [int] IDENTITY(1,1) NOT NULL,
	[Title_Name] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Released_Date] [date] NOT NULL,
	[Rating] [numeric](10, 0) NULL,
	[Time] [nchar](10) NULL,
	[Num_Seasons] [int] NULL,
	[Summary] [nvarchar](1200) NULL,
	[Link_Trailer] [nvarchar](500) NULL,
	[Cover] [nvarchar](100) NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[Id_Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Series] ON 

SET IDENTITY_INSERT [dbo].[Series] OFF
GO
