<link href="/bootstrap.min.css" rel="stylesheet">
<link rel="StyleSheet" type="text/css" href="/MoviePage.css" media="screen">

<div class="main">
    
    <div class="area">
        <h1>Unlimited movies, TV <br>shows, and more.</h1>
        <h3>Watch anywhere. Cancel anytime.
        </h3>

        <div class="search">
            <input type="text" class="box" placeholder="Email">
            <span class="try">
                Try 30 days free <i class="fas fa-chevron-right"></i>


            </span>
        </div>
        <h4>Ready to watch? Enter your email to create or access your account
        </h4>
    </div>
</div>




<div class="text-center" style="background-color: rgb(0, 0, 0);">
    <div>
        <img src="imagens_filmes.jpg">
    </div>
</div>