<html>

<head>
    <title>Movie Database Head</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/series">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Documentary">Documentary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Anime">Anime</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <h1>
        Movie Database Title
    </h1>
    <div>
        {{{body}}}
    </div>
    <footer>EKP01 Javascript</footer>
</body>

</html>