<script type="text/javascript" src="/login.js"></script>

<div class="row">
    <div class="form-group col-sm-2">
        <input id="username" type="text" class="form-control" placeholder="Username" name="username">
    </div>
    <div class="form-group col-sm-2">
        <input id="password" type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="form-group col-sm-4">
        <button id= "btnInsert" type="submit" class="btn btn-success">Login</button>
    </div>
</div>